.results {
  min-width: 650px;
  max-width: 90vw;
  margin: auto;
}

.colorOption {
  display: inline-block;
  width: 30px;
  height: 10px;
  border: 1px solid white;
  border-radius: 2px;
  margin-right: 2px;
}

.chartLine {
  width: 600px;
  height: 350px;
  margin: auto;
}

.start {
  width: 20%;
}

.resultWrap {
  width: 95%;
  margin: auto;
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  .start {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .start {
    width: 95%;
  }
}