body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url("./core/source/background-image.jpg");
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.language {width: 60px;}
.header {opacity: .9;}
.header div {padding: 1rem;}
.content {
    width: 22rem;
    margin: auto;
    text-align: center;
}
.card-title, .card-text {animation: showText 2s}
.btnText {animation: showBtnText 3s}
.right {animation: showBtnRight 3s}
.left {animation: showBtnLeft 3s}

@keyframes showText {
    0% {transform: translateY(-110%); opacity: 0}
    100% {transform: translate(0); opacity: 1}
}

@keyframes showBtnText {
    0% {transform: translate(-110%); opacity: 0}
    100% {transform: translate(0); opacity: 1}
}
@keyframes showBtnRight {
    0% {transform: translate(-310%);}
    90% {transform: translate(10%);}
    100% {transform: translate(0);}
}
@keyframes showBtnLeft {
    0% {transform: translate(310%);}
    90% {transform: translate(-10%);}
    100% {transform: translate(0);}
}
@media only screen and (max-width: 1280px) {
  body {
      background: url("./core/source/background-image.jpg") no-repeat top;
      background-size: 200%;
  }
}
@media only screen and (max-width: 600px) {
  body {background-size: 400%;}
}
@media only screen and (max-width: 740px) {
    .header div {padding: 0;}
    h5 {
        font-size: 1.1rem;
        padding-top: 8px;
    }
    nav select {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .language {
        font-size: .9rem;
        width: 55px;
    }
}
@media only screen and (max-width: 321px) {
    h5 {
        font-size: .9rem;
        padding-top: 10px;
    }
    .language {
        font-size: .7rem;
        width: 55px;
    }
}